<div class="container col-sm-9">
    <h1>Current ºC temperatures:</h1>
    <div class="jumbotron">
        <span *ngIf="this.ngRedux.getState().cities.length == 0" class="loading-animation">*</span>
        <div *ngIf="this.ngRedux.getState().cities.length > 0">
            <div class="alert alert-warning" role="alert" *ngFor="let city of this.ngRedux.getState().cities">{{ city.name }}: {{ city.temperature }}</div>
        </div>
    </div>

    <h2>Temperature records:</h2>
    <table class="table-striped">
        <thead>
            <tr>
                <th>City</th>
                <th>Temperature</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of allRecords">
                <td>{{ record.name }}</td>
                <td>{{ record.temperature }} ºC</td>
                <td>{{ record.timestamp }}</td>
            </tr>
        </tbody>
    </table>

</div>